body {    
    margin: auto;
}

a {
    color: #00B7FF;
}

.bundle {
    float: left;
    margin-right: 20px;    
}

.divbox {
    float: left;
    height: 60px;
    width: 60px;
    top: 5px;
    left: 5px;
    bottom: 5px;
    font-size: small;
    font-family: courier,arial,helvetica;
    margin-right: 20px;
    
}

.imgbox {
    float: left;
}

div img {
    float: left;
}

