body {
    padding: 10px;
    
}

a { color: #00B7FF; }

.heading {
    font-size: 22px;
    font-family: verdana;
    font-weight:300;
    float: left;
}
.inline {
    float: left;
    padding-right: 2rem;
    padding-left: 20px;
    padding-top: 10px;
    font-size: large;
    font-family: courier,arial,helvetica;
    text-align: center;
    vertical-align: middle;
}

.bundle {
    float: left;
    margin-right:40px;
}

#pRange {
    font-size: 14px;    
    color: black;
    text-align: center;
    top: 50px;
    position: absolute;
}

.divbox {
    float: left;
    height: 60px;
    width: 60px;
    top: 5px;
    left: 5px;
    bottom: 5px;
    font-size: small;
    font-family: courier,arial,helvetica;
}

.imgbox {
    float: left;
    
}

div img {
    float: left;
}

